* {
    padding: 0;
    margin: 0;
    font-size: 23px;
    font-family: "Source Code Pro", monospace;
}
body {
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px
}

.display {
    width: 245px;
    height: 100px;
    background-color: rgb(223, 221, 221);
    border-radius: 15px;
    text-align: end;
    align-content: center;
    padding: 0 25px;
    font-size: 35px;
    color: rgb(48, 47, 47);
}

.calculator {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 310px;
    height: 480px;
    padding: 25px 15px;
    align-items: center;
    border: solid rgb(181, 221, 193);
    border-radius: 25px;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.button {
    display:block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 0;
    align-content: center;
}

#ac {
    color: rgb(107, 173, 8);
    font-weight: 600;
}

#ac:hover {
    background-color: gainsboro;
}

#equal {
    background-color: rgb(107, 173, 8);
}

#equal:hover {
    background-color: rgb(93, 150, 8);
}

.op {
    background-color: rgb(189, 187, 187);
}

.op:hover {
    background-color: rgb(148, 147, 147);
}

.del {
    background-color: rgb(189, 187, 187);
}

.del:hover {
    background-color: rgb(148, 147, 147);
}

.number:hover {
    background-color: gainsboro;
}

#punto:hover {
    background-color: gainsboro;
}